# ────────────────── Python ──────────────────
__pycache__/
*.py[cod]

# ────────────────── Entorno virtual ─────────
venv/

# ────────────────── Logs y cachés ───────────
*.log
.coverage
htmlcov/
.mypy_cache/
pytest_cache/
.cache/

# ────────────────── Build / Dist ────────────
build/
dist/
*.egg-info/

# ────────────────── Alembic ─────────────────
migrations/versions/

# ────────────────── Configuración de IDEs ──
.idea/
.vscode/
*.swp

# ────────────────── Artefactos OS ───────────
.DS_Store
Thumbs.db
